<!DOCTYPE html>

<html class="no-js"> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Tweet Gang Gang</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            h1 {text-align: center;}
            p {text-align: center;}
        </style>
    </head>
    <body>
        <h1>Twitter Data</h1>
        <p>
            Back to square one

        </p>

        <input text-align="center" type="text" name="search" placeholder="Search..">
        
        <script src="" async defer></script>
    </body>
</html>